LINE_CHANNEL_SECRET=你的_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=你的_channel_access_token
FIREBASE_URL=https://trade-in-5135c-default-rtdb.asia-southeast1.firebasedatabase.app/tradein_prices.json
PORT=3000
